<div class="card">
  <div class="card-body">

    <div class="row">

      <!-- Users -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-primary">
            <p class="text-white">
              <i class="fa fa-group"></i>
              Users
            </p>
          </div>
          <div class="card-body">
            <p><span>{{ users_number }}</span> Users</p> 
          </div>
          <div class="card-footer">
            <a href="#" routerLink="/users">View Users</a>
          </div>
        </div>
        <br>
      </div>
      <!-- END Users -->

      <!-- Categories -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-warning">
            <p class="text-white">
              <i class="fa fa-group"></i>
              Categories
            </p>
          </div>
          <div class="card-body">
            <p><span>{{ categories_number }}</span> Categories</p> 
          </div>
          <div class="card-footer">
            <a href="#"  routerLink="/categories">View Categories</a>
          </div>
        </div>
      </div>
      <!-- END Categories -->


      <!-- Articles -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-success">
            <p class="text-white">
              <i class="fa fa-group"></i>
              Articles
            </p>
          </div>
          <div class="card-body">
            <p><span>{{ articles_number }}</span> Articles</p> 
          </div>
          <div class="card-footer">
            <a href="#"  routerLink="/articles">View Articles</a>
          </div>
        </div>
      </div>
      <!-- END Articles -->

      <!-- Comments -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-dark">
            <p class="text-white">
              <i class="fa fa-group"></i>
              Comments
            </p>
          </div>
          <div class="card-body">
            <p><span>{{ comments_number }}</span> Comments</p> 
          </div>
          <div class="card-footer">
            <a href="#"  routerLink="/comments">View Comments</a>
          </div>
        </div>
      </div>
      <!-- END Comments -->

    </div>

  </div>
</div>