<span> <a href="#" routerLink="/categories/create" class="btn btn-info">Create New Category</a></span>
<br><br>
<table class="table table-bordered table-hover">
    <thead> 
      <th>Id</th>
      <th>Name</th>
      <th>Edit</th>
      <th>Remove</th>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category._id }}</td>
        <td>{{ category.name }}</td>
        <td><a href="#" class="btn btn-info btn-sm">Edit</a></td>
        <td><button (click)="deleteCategory(category._id)" class="btn btn-danger btn-sm">Remove</button></td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>